html {
    background-color: rgb(36, 45, 48);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(167, 159, 159);
    gap: 1.4rem;
}
header {
    font-size: 2.5rem;
    color: rgb(167, 159, 159);
    margin-bottom: 1rem;
}
button {
    color: rgb(36, 45, 48);
    background-color: rgb(167, 159, 159);
    border-radius: 0.5rem;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    border: solid rgb(36, 45, 48) 0.15rem;
    transition: color 0.8s;
    text-align: center;
}
button:hover {
    color: rgb(242, 51, 102);
    transition: color 0.8s;
} 
#playArea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 18rem;
    height: 18rem;
}
#youWin {
    font-size: 1.5rem;
}
#restart {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(167, 159, 159);
    padding: 1.5rem;
    background-color: rgb(90, 115, 124);
}