html {
    background-color: rgb(36, 45, 48);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(167, 159, 159);
    gap: 1.4rem;
}
header {
    font-size: 2.5rem;
    color: rgb(167, 159, 159);
    margin-bottom: 1rem;
}
button {
    color: rgb(36, 45, 48);
    background-color: rgb(167, 159, 159);
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    border: solid rgb(36, 45, 48) 0.15rem;
    transition: color 0.8s;
    text-align: center;
}
button:hover {
    color: rgb(41, 138, 203);
    transition: color 0.8s;
} 
#playArea {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 18rem;
    height: 18rem;
}
#youWin {
    font-size: 1.5rem;
}
#restart {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(167, 159, 159);
    padding: 1.5rem;
    background-color: rgb(90, 115, 124);
}
#restart:hover {
    background-color: rgb(68, 87, 94);
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
#firstMove {
    color: rgb(36, 45, 48);
    font-size: 1.7rem;
    background-color: rgb(96, 151, 171);
}
#firstMove:hover {
    transition: color 0.2s;
    color: rgb(167, 159, 159);
    background-color: rgb(74, 113, 128);    
}